<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Welcome to Music Survey</mat-card-title>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content style="text-align: center;">
    <p class="mat-headline">
      Are you ready to start ?
    </p>
  </mat-card-content>
  <mat-card-actions style="text-align: center;">
    <button mat-button mat-raised-button color="primary" routerLink="/survey">OK</button>
    <button mat-button mat-raised-button color="warn" routerLink="/goodbye">Cancel</button>
  </mat-card-actions>
</mat-card>